{% extends 'base.html.twig' %}

{% block content %}
{% if enable_react_patient_chart|default(true) %}
<div
    data-island="patient-chart"
    data-props="{{ {
        ajaxUrl: ajax_url,
        csrfToken: csrf_token,
        pid: pid,
        activeTab: active_tab,
        clinicalAnchor: clinical_anchor|default(''),
        visitBoardUrl: visit_board_url,
        frontDeskUrl: module_url ~ '/front-desk.php',
        exportChartUrl: export_chart_url|default(''),
        registrationMode: registration_mode
    }|json_encode|e('html_attr') }}"
></div>
{% else %}
{% include 'partials/react-island-disabled.html.twig' with { desk_label: 'Patient Chart' } %}
{% endif %}
{% endblock %}

{% block scripts %}
{% if enable_react_patient_chart|default(true) %}
<link rel="stylesheet" href="{{ assets_url }}/css/registration-form.css?v={{ asset_version }}">
<link rel="stylesheet" href="{{ assets_url }}/modern/patient-chart.css?v={{ asset_version }}">
<script type="module" src="{{ assets_url }}/modern/patient-chart.js?v={{ asset_version }}"></script>
{% endif %}
{% endblock %}
