{% extends 'base.html.twig' %}

{% block page_heading_actions %}
<button type="button" class="btn btn-outline-secondary btn-sm" id="nc-registry-refresh">{{ 'Refresh'|xlt }}</button>
<button type="button" class="btn btn-outline-secondary btn-sm" id="nc-registry-save-filter">{{ 'Save filters'|xlt }}</button>
<button type="button" class="btn btn-outline-danger btn-sm d-none" id="nc-registry-delete-filter">{{ 'Delete saved'|xlt }}</button>
<button type="button" class="btn btn-outline-primary btn-sm" id="nc-registry-export">{{ 'Export CSV'|xlt }}</button>
{% endblock %}

{% block content %}
{% if enable_react_patient_registry|default(true) %}
<div
    data-island="patient-registry"
    data-props="{{ {
        ajaxUrl: ajax_url,
        csrfToken: csrf_token,
        chartUrlBase: chart_url_base,
        billingThreshold: billing_threshold
    }|json_encode|e('html_attr') }}"
></div>
{% else %}
{% include 'partials/react-island-disabled.html.twig' with { desk_label: 'Patient Registry' } %}
{% endif %}
{% endblock %}

{% block scripts %}
{% if enable_react_patient_registry|default(true) %}
<link rel="stylesheet" href="{{ assets_url }}/css/patient-registry.css?v={{ asset_version }}">
{% include 'partials/island-assets.html.twig' %}
{% endif %}
{% endblock %}
